
{% extends 'stock/base.html'%}
{% block content %}

  <H6 style="color:red;"> ⚠️ This site only aimed at demonstrating the prediction of stock price change percentage using Python. 
    It doesn’t serve any purpose of promoting any stock or giving any specific investment advice 
    (This site is only for Education purpose only disclaimer).  </H6><br>

<b><i>Hi there 👋, my name is Aditya </i>
<p>I am Python Django Developer </p> </b> 

<p><b> <a href="https://github.com/Aditya-aot" target="_blank" > My Git Hub :</b> </a> </p> 

{% comment %} <p> </p> {% endcomment %}
<b><i> What is Stock Guide </i>  </b> <br>
➼ Stock market prediction is the act of trying to determine the future value of a company stock or other financial instrument traded on an exchange.
 The successful prediction of a stock's future price could yield significant profit.
 The efficient-market hypothesis suggests that stock prices reflect all currently available information and any price changes that are not based on newly revealed information thus are inherently unpredictable.
 Others disagree and those with this viewpoint possess myriad methods and technologies which purportedly allow them to gain future price information.


<p>➼With the advent of the digital computer, stock market prediction has since moved into the technological realm. The most prominent technique involves the use of artificial neural networks (ANNs) and Genetic Algorithms(GA). 
Scholars found bacterial chemotaxis optimization method may perform better than GA.
ANNs can be thought of as mathematical function approximators.
 The most common form of ANN in use for stock market prediction is the feed forward network utilizing the backward propagation of errors algorithm to update the network weights. 
These networks are commonly referred to as Backpropagation networks.
 Another form of ANN that is more appropriate for stock prediction is the time recurrent neural network (RNN) or time delay neural network (TDNN).
 Examples of RNN and TDNN are the Elman, Jordan, and Elman-Jordan networks. </p>


<p>Stock price movement analysis is one main study area in algorithm trading. 
Although nobody in this world can predict the next-moment stock prices with an absolute 100% accuracy,
 the stock price change pattern is still one of the main interests of many investors. </P>

<br>
<b>Random Forest in Machine Learning </b> <br>
<p> ➼ This site ues Machine Learning </p>
 <p> ➼ And in  Machine Learning we use Random Forest  </p>
<p> ➼ A random forest is a supervised machine learning algorithm that is constructed from decision tree algorithms.
 This algorithm is applied in various industries such as banking and e-commerce to predict behavior and outcomes. </p>

<p> ➼ A random forest is a machine learning technique that’s used to solve regression and classification problems. It utilizes ensemble learning, which is a technique that combines many classifiers to provide solutions to complex problems.

A random forest algorithm consists of many decision trees. The ‘forest’ generated by the random forest algorithm is trained through bagging or bootstrap aggregating. Bagging is an ensemble meta-algorithm that improves the accuracy of machine learning algorithms.

The (random forest) algorithm establishes the outcome based on the predictions of the decision trees. It predicts by taking the average or mean of the output from various trees. Increasing the number of trees increases the precision of the outcome.

A random forest eradicates the limitations of a decision tree algorithm. It reduces the overfitting of datasets and increases precision. It generates predictions without requiring many configurations in packages (like scikit-learn).</p>

<p><b>Features of a Random Forest Algorithm </b>
 <p>    ⚫  It’s more accurate than the decision tree algorithm.</p>
<p>     ⚫ It provides an effective way of handling missing data. </p>
 <p>    ⚫   It can produce a reasonable prediction without hyper-parameter tuning.</p>
 <p>    ⚫   It solves the issue of overfitting in decision trees.</p>
 <p>    ⚫   In every random forest tree, a subset of features is selected randomly at the node’s splitting point.</p>


{% endblock content %}
