{% extends 'stock/base.html'%}
{% block content %}


<br>
        <form action="" method="post">{% csrf_token %}
            {{form}}
             {% comment %} {{form.as_p}} {% endcomment %}
            <button class="btn btn-primary"  ><span>Submit </span></button>
        </form>

<br>
         {% for label,data in mylist %}
 
                              <table class="table table-striped table-dark">
                  
                    <thead>
                      <tr>
                        <th scope="col">{{label}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{data}}</td>
                      </tr>
                    
                    </tbody>
                  
                  </table>
 
        {%endfor%}   
{{score}}
         



 
 {% endblock content %}

